<h1>Convert <%= @original_currency %> to <%= @destination_currency %></h1>

<p> <%= @amount %> <%= @original_currency %> equals  <%= @conversion %> <%= @destination_currency %>.<p>

<p>Go <a href="/">back</a>.<p>
